<% if @can_ask_cam %>
    <h1>Is it Pizza? Ask Cam</h1>
    <%= form_for @is_it_pizza, url: questionable_pizzas_create_path, html: { multipart: true } do |form| %>
        <label>Pizza Image</label>
        <%= form.file_field :pizza_image, as: :file %>
        <label>Pizza Video</label>
        <%= form.file_field :pizza_video, as: :file %>
        <%= form.submit 'Ask Cam' %>
        <br>
        <h1>ORRRRR, put in a nice link</h1>
        <label>Pizza Image Link</label>
        <%= form.text_field :pizza_image_link %>
        <label>Pizza Video Link</label>
        <%= form.text_field :pizza_video_link %>
        <%= form.submit 'Ask Cam' %>
        <p id="error"><%= flash[:error] %></p>
    <% end %>
<% else %>
    <h1>Woah slow down!!!! You gotta give cam some time to decide if your last one was pizza.</h1>
<% end %>